<!-- banner1 -->
<div class="banner1">
	<div class="container">
	</div>
</div>
<!-- //banner1 -->
<!-- single -->
	<div class="single">
		<div class="container">
			<div class="col-md-8 sing-img-text">
				<div class="sing-img-text1">
					<div class="categories">
						<h3><strong>”पवित्र श्रीमद्भगवत गीता जी का ज्ञान किसने कहा?“</strong></h3>
					</div>
					<p class="est">
						पवित्र गीता जी के ज्ञान को उस समय बोला गया था जब महाभारत का युद्ध होने जा रहा था। अर्जुन ने युद्ध करने से इन्कार कर दिया था। युद्ध क्यों हो रहा था? इस युद्ध को धर्मयुद्ध की संज्ञा भी नहीं दी जा सकती क्योंकि दो परिवारों का सम्पत्ति वितरण का विषय था। कौरवों तथा पाण्डवों का सम्पत्ति बंटवारा नहीं हो रहा था। कौरवों ने पाण्डवों को आधा राज्य भी देने से मना कर दिया था। दोनों पक्षों का बीच-बचाव करने के लिए प्रभु श्री कृष्ण जी तीन बार शान्ति दूत बन कर गए। परन्तु दोनों ही पक्ष अपनी-अपनी जिद्द पर अटल थे। श्री कृष्ण जी ने युद्ध से होने वाली हानि से भी परिचित कराते हुए कहा कि न जाने कितनी बहन विधवा होंगी ? न जाने कितने बच्चे अनाथ होंगे ? महापाप के अतिरिक्त कुछ नहीं मिलेगा। युद्ध में न जाने कौन मरे, कौन बचे ? तीसरी बार जब श्री कृष्ण जी समझौता करवाने गए तो दोनों पक्षों ने अपने-अपने पक्ष वाले राजाओं की सेना सहित सूची पत्र दिखाया तथा कहा कि इतने राजा हमारे पक्ष में हैं तथा इतने हमारे पक्ष में। जब श्री कृष्ण जी ने देखा कि दोनों ही पक्ष टस से मस नहीं हो रहे हैं, युद्ध के लिए तैयार हो चुके हैं। तब श्री कृष्ण जी ने सोचा कि एक दाव और है वह भी आज लगा देता हूँ। श्री कृष्ण जी ने सोचा कि कहीं पाण्डव मेरे सम्बन्धी होने के कारण अपनी जिद्द इसलिए न छोड़ रहे हों कि श्री कृष्ण हमारे साथ हैं, विजय हमारी ही होगी(क्योंकि श्री कृष्ण जी की बहन सुभद्रा जी का विवाह श्री अर्जुन जी से हुआ था)। श्री कृष्ण जी ने कहा कि एक तरफ मेरी सर्व सेना होगी और दूसरी तरफ मैं होऊँगा और इसके साथ-साथ मैं वचन बद्ध भी होता हूँ कि मैं हथियार भी नहीं उठाऊँगा। इस घोषणा से पाण्डवों के पैरों के नीचे की जमीन खिसक गई। उनको लगा कि अब हमारी पराजय निश्चित है। यह विचार कर पाँचों पाण्डव यह कह कर सभा से बाहर गए कि हम कुछ विचार कर लें। कुछ समय उपरान्त श्री कृष्ण जी को सभा से बाहर आने की प्रार्थना की। श्री कृष्ण जी के बाहर आने पर पाण्डवों ने कहा कि हे भगवन् ! हमें पाँच गाँव दिलवा दो। हम युद्ध नहीं चाहते हैं। हमारी इज्जत भी रह जाएगी और आप चाहते हैं कि युद्ध न हो, यह भी टल जाएगा।
						
						<span>पाण्डवों के इस फैसले से श्री कृष्ण जी बहुत प्रसन्न हुए तथा सोचा कि बुरा समय टल गया। श्री कृष्ण जी वापिस आए, सभा में केवल कौरव तथा उनके समर्थक शेष थे। श्री कृष्ण जी ने कहा दुर्योधन युद्ध टल गया है। मेरी भी यह हार्दिक इच्छा थी। आप पाण्डवों को पाँच गाँव दे दो, वे कह रहे हैं कि हम युद्ध नहीं चाहते। दुर्योधन ने कहा कि पाण्डवों के लिए सुई की नोक तुल्य भी जमीन नहीं है। यदि उन्हंे राज्य चाहिए तो युद्ध के लिए कुरुक्षेत्र के मैदान में आ जाऐं। इस बात से श्री कृष्ण जी ने नाराज होकर कहा कि दुर्योधन तू इंसान नहीं शैतान है। कहाँ आधा राज्य और कहाँ पाँच गाँव? मेरी बात मान ले, पाँच गाँव दे दे। श्री कृष्ण से नाराज होकर दुर्योधन ने सभा में उपस्थित योद्धाओं को आज्ञा दी कि श्री कृष्ण को पकड़ो तथा कारागार में डाल दो। आज्ञा मिलते ही योद्धाओं ने श्री कृष्ण जी को चारों तरफ से घेर लिया। श्री कृष्ण जी ने अपना विराट रूप दिखाया। जिस कारण सर्व योद्धा और कौरव डर कर कुर्सियों के नीचे घुस गए तथा शरीर के तेज प्रकाश से आँखें बंद हो गई। श्री कृष्ण जी वहाँ से निकल गए।</span>
					</p>
				</div>
			</div>
			<div class="col-md-4 sing-img-text-left">
				<div class="blog-right1">
					
					<div class="categories">
						<h3>Categories / Filter Events</h3>
						<ul>
							<li>
								<%= link_to "Show current events" , filter_events_path("current") %>
							</li>
							<li>
								<%= link_to "Show all upcoming events" , filter_events_path("upcoming") %>
							</li>
							<li>
								<%= link_to "Show all past events" , filter_events_path("past") %>
							</li>
							<li>
								<%= link_to "Default all events" , events_path %>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12 sing-img-text">
				<div class="com">
						<h3><%= @title.humanize %> Events</h3>
						<ul class="media-list">
						  
						  <% @events.each do |event| %>
						  <li class="media">

							<div class="media-left" style="padding-right: 25px;">
								<div class="feed-activity-list">
			                        <div class="feed-element">
			                            <a href="#" class="pull-left">
			                                <img alt="image" class="img-circle" src="<%= event.eventpic.url(:small) %>">
			                            </a>
		                            </div>
		                        </div>
							</div>

							<div class="media-body">
								<%= link_to event_detail_path(event.id), :style=>'text-align: left' do %>
								<h4 class="media-heading">
									<%= event.title.humanize %>
								</h4>
								<% end %>
							  	<div class="">
							  	  	<ul>
							  	  		<li> <strong>From:</strong> <%= event.event_date_from.strftime("%A, %d %b, %Y") rescue 'Not Mentioned' %></li>
							  	  		<li> <strong>To:</strong> <%= event.event_date_to.strftime("%A, %d %b, %Y") rescue 'Not Mentioned' %>
							  	  		</li>
							  	  	</ul><br>
						  	  	</div>
							  <%= event.description.humanize %>
							  <%= link_to "More details" , event_detail_path(event.id) %>
							</div>
						  </li>
						  <% end %>
						</ul>
					</div>
			</div>
		</div>
	</div>
<!-- //single -->
