<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_event.description %>
</p>

<p>
  <strong>Event date from:</strong>
  <%= @admin_event.event_date_from %>
</p>

<p>
  <strong>Event date to:</strong>
  <%= @admin_event.event_date_to %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin_event.location %>
</p>

<p>
  <strong>Summery:</strong>
  <%= @admin_event.summery %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@admin_event) %> |
<%= link_to 'Back', admin_events_path %>
