<p id="notice"><%= notice %></p>

<p>
  <strong>Embed url:</strong>
  <%= @admin_contact_info.embed_url %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @admin_contact_info.email1 %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @admin_contact_info.email2 %>
</p>

<p>
  <strong>Phone1 code:</strong>
  <%= @admin_contact_info.phone1_code %>
</p>

<p>
  <strong>Phone1 number:</strong>
  <%= @admin_contact_info.phone1_number %>
</p>

<p>
  <strong>Phone2 code:</strong>
  <%= @admin_contact_info.phone2_code %>
</p>

<p>
  <strong>Phone2 number:</strong>
  <%= @admin_contact_info.phone2_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_contact_info.name %>
</p>

<p>
  <strong>Add line1:</strong>
  <%= @admin_contact_info.add_line1 %>
</p>

<p>
  <strong>Add line2:</strong>
  <%= @admin_contact_info.add_line2 %>
</p>

<p>
  <strong>Add line3:</strong>
  <%= @admin_contact_info.add_line3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_contact_info.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @admin_contact_info.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @admin_contact_info.country %>
</p>

<p>
  <strong>Mobile1:</strong>
  <%= @admin_contact_info.mobile1 %>
</p>

<p>
  <strong>Mobile2:</strong>
  <%= @admin_contact_info.mobile2 %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @admin_contact_info.facebook_url %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @admin_contact_info.twitter_url %>
</p>

<%= link_to 'Edit', edit_admin_contact_info_path(@admin_contact_info) %> |
<%= link_to 'Back', admin_contact_infos_path %>
