<p id="notice"><%= notice %></p>

<p>
  <strong>Tppic:</strong>
  <%= @admin_sthirdparty.tppic %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_sthirdparty.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_sthirdparty.description %>
</p>

<p>
  <strong>Service:</strong>
  <%= @admin_sthirdparty.service_id %>
</p>

<%= link_to 'Edit', edit_admin_sthirdparty_path(@admin_sthirdparty) %> |
<%= link_to 'Back', admin_sthirdparties_path %>
